.recipes {
  background-color: #ffffff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 100px 80px 140px;
  background-image: url("/images/background_recipes.svg");
}

.recipes__title {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  max-width: 580px;
  top: 100px;
  left: 80px;
  padding-bottom: 24px;
}

.recipes__subtitle {
  font-family: Noto serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 438px;
  left: 80px;
  padding-bottom: 80px;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  width: 100%;
}
.recipe__video:first-child {
  margin-right: 40px;
}

.recipes__video-caption {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding-left: 0;
}
