@import url("../vendor/normalize.css");
@import url("../blocks/recipes.css");
@import url("../blocks/header.css");
@import url("../blocks/form.css");
@import url("../blocks/footer.css");

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.logo {
  left: 30px;
  top: 30px;
  width: 125px;
  height: 142px;
}

.menu {
  padding: 100px 100px 45px;
  color: #fff;
  background: #0a2750 url("../images/background_menu.svg") no-repeat
    center/cover;
}

.menu__title {
  text-align: center;
  margin: 0 0 24px;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  font-family: "Inter", serif;
}

.menu__subtitle {
  font-family: "Noto Serif", serif;
  max-width: 845px;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  margin: 0 auto;
}

.menu__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 17px 40px;
  justify-content: center;
  margin-top: 71px;
}

.card {
  box-sizing: border-box;
  width: calc(50% - 20px);
  padding: 30px 24px 54px;
  max-width: 600px;
}

.card__title {
  margin: 0 0 32px;
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
  font-family: "Inter", serif;
}

.card__content {
  list-style: none;
  margin: 0;
  padding: 0;
}

.card__list-item {
  font-family: "Noto Serif", serif;
  display: flex;
  align-items: baseline;
  margin-bottom: 16px;
}

.card__list-item:last-of-type {
  margin-bottom: 0;
}

.card__list-divider {
  display: block;
  min-width: 50px;
  height: 1px;
  background-color: #d9e7ff;
  margin-left: 8px;
  margin-right: 8px;
  flex-grow: 1;
}

.about {
  padding: 100px 80px;
  background-color: #1f1f1f;
  color: #fff;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  display: flex;
}

.about__title {
  margin: 0;
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  z-index: 1;
  max-width: 154px;
  padding-right: 120px;
}

.about__content {
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  max-width: 660px;
  z-index: 1;
}

.about__paragraph {
  margin: 0;
  margin-bottom: 32px;
}

.about__paragraph:last-child {
  margin-bottom: 0;
}

.about__circle {
  background-color: #2f80ed;
  width: 495px;
  height: 495px;
  border-radius: 50%;
  position: absolute;
  top: -121px;
  left: -91px;
  z-index: 0;
}
