.header {
  background-image: url("../images/background_header.svg");
  background-color: #fff;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  padding-top: 30px;
  padding-left: 80px;
  padding-right: 80px;
  position: relative;
  box-sizing: border-box;
}

.header__image {
  position: absolute;
  top: 124px;
  right: 5px;
  width: 646px;
  height: 568px;
}

.header__title {
  font-size: 66px;
  line-height: 76px;
  font-weight: 500;
  margin: 80px 0 0;
  max-width: 544px;
}

.header__description {
  font-size: 20px;
  line-height: 30px;
  margin: 32px 0 0;
  max-width: 465px;
}

.header__image {
  max-width: 636px;
  position: absolute;
}

.header__footer {
  position: absolute;
  left: 0;
  bottom: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 40px 80px 0;
  justify-content: space-between;
  box-sizing: border-box;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__links {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  margin-top: 8px;
  align-items: baseline;
  column-gap: 20px;
  top: 30px;
  right: 80px;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}

.nav__link:hover {
  color: #2f80ed;
}

.header__address {
  margin: 0;
  color: #838383;
}
.header__span-accent {
  color: #2f80ed;
}
.header__hours {
  display: flex;
}

.header__paragraph {
  flex-direction: column;
}
